#This is comment

#URL

driverurl = localhost
browser = firefox

#Environment value PRODUCTION 
#Environment value VCD for vcd environment

environment = VCD

startpage = http://google.com


verifytimeout = 2000
waittimeout = 7000
pageloadtimeout = 2000
verifyinterval = 2000
downloadTime = 10000
waitTime=25000
mediumWait=7000
timeOut=10000
waitTimeOutForCheck=16000
waitTimeForSaveMsg=9000
defaultDownLoadPath_IE=C:/Users/sysadmin/Downloads
longWaitTime = 5000
